@model IEnumerable<CQCMS.EmailApp.Email>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CaseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailboxID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastActedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastActedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailBCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailFolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailSubFolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailDirection)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwaitingReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewerEdited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmailComplaintIntegrated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailTrimmedSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailHash)
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CaseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailboxID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastActedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastActedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailBCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailFolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailSubFolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailDirection)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwaitingReview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewerEdited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEmailComplaintIntegrated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailTrimmedSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailHash)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmailID })
        </td>
    </tr>
}

</table>
